#One line is one menu item.
#The menu follow the order of the config.

#Keyword :
#{favorites} : include favorite from KickOff. (manage favorites from KickOff)
# # : comment/disable an item. (unused line can be deleted)
# - : separator.
#[menu][end] : child menu (can be concatened).
#{programs} : include applications menu.
#{programs} System/ : include applications system menu.

#Apps and commands :
#desktop file : /usr/share/applications/org.kde.konsole.desktop
#command : Text [TAB] Icon [TAB] Command Arguments

{favorites}
-
/usr/share/applications/uxterm.desktop
/usr/share/applications/org.kde.dolphin.desktop
-
[menu]	Applications	kde
{programs}
[end]
-
[menu]	System	configure-shortcuts
{programs}	Settingsmenu/
{programs}	System/
[end]
